<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Express OIDC Demo</title>
</head>

<body>
    <h1>Welcome</h1>
        <p>Let's <a href="/login">Login with Keycloak</a></p>
    </body>
</html>