<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Express OIDC Demo</title>
</head>

<body>
    <h1>Welcome</h1>
        <p>
            Hello <%= username %>! Welcome to the express demo. You logged in with Keycloak and authorized the
            <%= client %> to access your resources.
        </p>
    </body>
</html>